# 01. Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [2]:
path = r'C:\Users\marci\OneDrive\Desktop\Career Foundary\Netflix'

In [3]:
# importing countries_all.csv

df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'countries_all.csv'), index_col = False)

# 03. Displaying Data

In [4]:
# Showing the first 5 rows of data
df.head()

,country_name,country_iso2,week,category,weekly_rank,show_title,season_title,cumulative_weeks_in_top_10
0,Argentina,AR,3/17/2024,Films,1,Damsel,NaN,2
1,Argentina,AR,3/17/2024,Films,2,Irish Wish,NaN,1
2,Argentina,AR,3/17/2024,Films,3,Art of Love,NaN,1
3,Argentina,AR,3/17/2024,Films,4,White Boy Rick,NaN,2
4,Argentina,AR,3/17/2024,Films,5,Dr. Seuss' The Grinch,NaN,2

In [5]:
#Checking the size
df.shape

(264820, 8)

In [6]:
#Displaying column names
df.columns

Index(['country_name', 'country_iso2', 'week', 'category', 'weekly_rank',
       'show_title', 'season_title', 'cumulative_weeks_in_top_10'],
      dtype='object')

In [7]:
#Data types
df.dtypes

country_name                  object
country_iso2                  object
week                          object
category                      object
weekly_rank                    int64
show_title                    object
season_title                  object
cumulative_weeks_in_top_10     int64
dtype: object

# 04. Consistency Checks

In [8]:
# finding mixed-type columns
for col in df.columns.tolist():
  weird = (df[[col]].map(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

season_title

In [9]:
#Changing the mixed type data column to 'str'
df['season_title'] = df['season_title'].astype('str')

In [10]:
#Check to verify the data type changed
df['season_title'].dtypes

dtype('O')

In [12]:
#Finding missing values
df.isnull().sum()

country_name                  0
country_iso2                  0
week                          0
category                      0
weekly_rank                   0
show_title                    0
season_title                  0
cumulative_weeks_in_top_10    0
dtype: int64

No Missing values

In [14]:
# Checking for duplicates
df_dups = df[df.duplicated()]

In [15]:
df_dups

Empty DataFrame
Columns: [country_name, country_iso2, week, category, weekly_rank, show_title, season_title, cumulative_weeks_in_top_10]
Index: []

No Duplicates found

In [16]:
#Dropping the 'couintry_ios2' as it is no necessary
df.drop(columns = ['country_iso2'])

,country_name,week,category,weekly_rank,show_title,season_title,cumulative_weeks_in_top_10
0,Argentina,3/17/2024,Films,1,Damsel,nan,2
1,Argentina,3/17/2024,Films,2,Irish Wish,nan,1
2,Argentina,3/17/2024,Films,3,Art of Love,nan,1
3,Argentina,3/17/2024,Films,4,White Boy Rick,nan,2
4,Argentina,3/17/2024,Films,5,Dr. Seuss' The Grinch,nan,2
...,...,...,...,...,...,...,...
264815,Vietnam,7/4/2021,TV,6,Reply 1988,Reply 1988: Season 1,1
264816,Vietnam,7/4/2021,TV,7,"Nevertheless,","Nevertheless,: Limited Series",1
264817,Vietnam,7/4/2021,TV,8,Too Hot to Handle,Too Hot to Handle: Season 2,1
264818,Vietnam,7/4/2021,TV,9,Record of Ragnarok,Record of Ragnarok: Season 1,1
264819,Vietnam,7/4/2021,TV,10,Crash Landing on You,Crash Landing on You: Season 1,1

In [18]:
#creating a new dataframe without the 'country_iso2' column
df2 = df.drop(columns = ['country_iso2'])

In [19]:
#Checking to make sure the column was dropped
df2.columns

Index(['country_name', 'week', 'category', 'weekly_rank', 'show_title',
       'season_title', 'cumulative_weeks_in_top_10'],
      dtype='object')

In [20]:
df2.head()

,country_name,week,category,weekly_rank,show_title,season_title,cumulative_weeks_in_top_10
0,Argentina,3/17/2024,Films,1,Damsel,nan,2
1,Argentina,3/17/2024,Films,2,Irish Wish,nan,1
2,Argentina,3/17/2024,Films,3,Art of Love,nan,1
3,Argentina,3/17/2024,Films,4,White Boy Rick,nan,2
4,Argentina,3/17/2024,Films,5,Dr. Seuss' The Grinch,nan,2

In [21]:
df2.describe()

         weekly_rank  cumulative_weeks_in_top_10
count  264820.000000               264820.000000
mean        5.500000                    3.500555
std         2.872287                    6.647878
min         1.000000                    1.000000
25%         3.000000                    1.000000
50%         5.500000                    2.000000
75%         8.000000                    3.000000
max        10.000000                  113.000000

In [23]:
#Exporting dataframe as a pkl
df2.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'countries_cleaned.pkl'))